---
import { readAll } from "../../../lib/markdoc/read";
import { card } from "../../../lib/markdoc/frontmatter.schema";
import PageLayout from "../../../layouts/PageLayout.astro";
import PageMeta from "../../../components/PageMeta.astro";
import { SITE_TITLE } from "../../../config";
import Renderer from "../../../components/Renderer.astro";

export async function getStaticPaths() {
  const posts = await readAll({
    directory: "card",
    frontmatterSchema: card,
  });

  // we don't want to generate pages for posts that link to external websites
  const filteredPosts = posts;

  return filteredPosts.map((post) => post.frontmatter.tags).flat().filter((tag) => tag).map((tag) => {
    return { params: { tag: tag } };
  });
}

const { tag } = Astro.params;
if (typeof tag !== "string") {

  throw Error(`tag should be string. Received: ${tag}`);
}

const posts = await readAll({
    directory: "card",
    frontmatterSchema: card,
  });

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .filter((p) => p.frontmatter.tags?.includes(tag))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );

---

<PageLayout>
  <PageMeta title={`card tag: ${tag} | ${SITE_TITLE}`} slot="meta" />
  <style>
    .masonry {
      column-gap: 30px;
    }
    .masonry-item {
      width: 100%;
      break-inside: avoid;
      margin-bottom: 30px;
    }
  </style>
  <section slot="main" class="section">
    <p class="pl-6 relative block leading-[150%] before:absolute before:content-[''] before:w-2 before:h-full before:top-0 before:left-0 before:bg-primary-blue mb-10">从有限的物质世界飞跃到无限的思维空间</p>
    <div class="masonry">
      {
        sortedPosts.map((post) => {
          const formattedDate = new Date(
            post.frontmatter.date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <figure class="masonry-item md:flex rounded-l p-8 md:p-0 dark:bg-slate-800">
              <div class="pt-6 md:p-8 text-center md:text-left space-y-4 w-full">
                {post.frontmatter.tags? (
                  <div class="text-sm italic text-blue-500 dark:text-slate-500">{post.frontmatter.tags.map(item =>(<a href={`/card/tag/${item}`} class="mr-2">#{item}</a>))}</div>
                  ) : null}
                <blockquote class="blog-post prose prose-bubblegum">
                  <object>
                    <Renderer content={post.content} />
                  </object>
                </blockquote>
                <figcaption class="font-medium">
                  {post.frontmatter.pos ? (
                    <div>
                      笔于{" "}
                      <span class="text-sky-500 dark:text-sky-400">
                        {post.frontmatter.pos}
                      </span>
                    </div>
                  ) : null}
                  <div class="text-slate-700 dark:text-slate-500">
                    <time datetime={post.frontmatter.date.toISOString()}>
                      {formattedDate}
                    </time>
                  </div>
                </figcaption>
              </div>
            </figure>
          );
        })
      }
    </div>
  </section>
</PageLayout>
