---
import { readAll } from "../lib/markdoc/read";
import { cards } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";
import Renderer from "../components/Renderer.astro";

const posts = await readAll({
  directory: "cards",
  frontmatterSchema: cards,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout>
  <PageMeta title={`cards | ${SITE_TITLE}`} slot="meta" />
  <style>
    .masonry {
      columns: 1;
    }
    /* @media (min-width: 1000px) {
      .masonry {
        columns: 2;
      }
    }
    @media (min-width: 1440px) {
      .masonry {
        columns: 3;
        width: 1440px;
        transform: translateX(-288px);
      }
    } */
    .masonry {
      column-gap: 30px;
    }
    .masonry-item {
      width: 100%;
      break-inside: avoid;
      margin-bottom: 30px;
    }
  </style>
  <section slot="main" class="section">
    <p class="pl-6 relative block leading-[150%] before:absolute before:content-[''] before:w-2 before:h-full before:top-0 before:left-0 before:bg-primary-blue mb-10">我的碎碎念</p>
    <div class="masonry">
      {
        sortedPosts.map((post) => {
          const formattedDate = new Date(
            post.frontmatter.date
          ).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <figure class="masonry-item md:flex bg-slate-100 rounded-l p-8 md:p-0 dark:bg-slate-800">
              <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                <blockquote class="blog-post prose prose-bubblegum">
                  <Renderer content={post.content} />
                </blockquote>
                <figcaption class="font-medium">
                  {post.frontmatter.pos ? (
                    <div>
                      笔于{" "}
                      <span class="text-sky-500 dark:text-sky-400">
                        {post.frontmatter.pos}
                      </span>
                    </div>
                  ) : null}
                  <div class="text-slate-700 dark:text-slate-500">
                    <time datetime={post.frontmatter.date.toISOString()}>
                      {formattedDate}
                    </time>
                  </div>
                </figcaption>
              </div>
            </figure>
          );
        })
      }
    </div>
  </section>
</PageLayout>
